Source: covid-terminator
Section: unknown
Priority: optional
Maintainer: Covid Terminator <covid-terminator@covid-terminator.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 4.5.1
Homepage: 
Rules-Requires-Root: no

Package: covid-terminator
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}
Description: Covid Terminator example
